{{page-title 'EmberContextTest'}}

<ContextProvider @key='shared' @value={{this.shared}}>
  <ul>
    <li>
      <button type='button' {{on 'click' (set this.name 'hello')}}>
        hello
      </button>
    </li>
    <li>
      <button type='button' {{on 'click' (set this.name 'bob')}}>
        bob
      </button>
    </li>
    <li>
      <button type='button' {{on 'click' (set this.name 'tilly')}}>
        tilly
      </button>
    </li>
  </ul>
  <Hello @name={{this.name}} />
</ContextProvider>